html, body, #app {
  height: 100%;
  min-width: 280px;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.header{
  background-color: #EEEEEE;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  text-align: right;  
}
.header button{
  color: black;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  border-width: 1px;
  margin-top: 4px;
  padding: 7px 14px;
  margin-right: 8px;
}
.players{
  width: 90%;
}
.players p{
  margin: 6px 0 6px 0;
}
.players .player {
  max-width: 380px;
  border-style: solid;
  border-width: 1.25px;
  border-radius: 8px;
  border-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 54px auto;
  padding: 14px;
}
.player .player_main{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.player .player_info{
  text-align: left;
  margin-left: 14px;
}
.player .player_info>p{
  font-size: 13pt;
  font-weight: lighter;
}
.player .player_info>p>b{
  font-size: 10pt;
}
.player .player_info>p+p{
  font-size: 10pt;
  font-weight: lighter;
}
.players .player_img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.players .player_img img{
  width: auto;
  height: 100%;
  margin-left: -20px;
}
.player_team_shield{
  height: 28px;
  width: auto;
}



@media screen and (max-width: 340px) {
  .player .player_info>p{
    font-size: 11pt;
    font-weight: lighter;
  }
  .player .player_info>p>b{
    font-size: 8pt;
  }
  .player .player_info>p+p{
    font-size: 8pt;
  }
  .players .player_img{
    width: 50px;
    height: 50px;
  }
  .players .player_img img{
    margin-left: -10px;
  }  
  .player_team_shield{
    height: 15px;
  }  
}

@media screen and (min-width: 600px) {
  .players{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .players .player_main {
    flex-direction: column;
    margin: 0 auto;
  }
  .players p{
    text-align: center;
  }
  .players .player_img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
  }  
  .player .player_info{
    margin-top: 14px;
  }  
  .player_team_shield{
    position: absolute;
    right: 4px;
  }  
  .players .player{
    width: 200px;
    height: 200px;
    position: relative;
    margin: 25px 18px;
    padding: 20px;
  }
}
